
#results-carousel {
  min-height: 450px;
}

#results-container .results-header {
  width: 640px;
  margin: auto;
}

#results-carousel .result-imgs img {
  cursor: pointer;
}

#full-image .modal-dialog {
  max-width: calc(100vw - 260px);
}
